<h2>User SignUp</h2>

<div class="container">
  <form [formGroup]="user_signup" (ngSubmit)="onUserAdd()">
    <div class="form-group">
      <input type="text" formControlName="user_name" class="form-control" placeholder="Enter User name">
      <label class="alert alert-danger"
        *ngIf="user_signup.get('user_name').hasError('required') &&  !user_signup.get('user_name').pristine"> username
        is required
      </label>
      <label class="alert alert-danger" *ngIf="user_signup.get('user_name').hasError('minlength')"> min of 3 char
      </label>
      <label class="alert alert-danger" *ngIf="user_signup.get('user_name').hasError('pattern')"> only alphabets
      </label>
      <label class="alert alert-danger" *ngIf="user_signup.get('user_name').hasError('customError')"> this name is not
        allowed
      </label>
    </div>
    <div class="form-group">
      <input type="radio" formControlName="user_notification" value="email">Email
      <input type="radio" formControlName="user_notification" value="phone">Phone
    </div>
    <div class="form-group">
      <input type="email" formControlName="user_email" class="form-control" placeholder="Enter User Email">
      <label class="alert alert-danger"
        *ngIf="user_signup.get('user_email').hasError('required') &&  !user_signup.get('user_email').pristine"> Email is
        required
      </label>
      <label class="alert alert-danger" *ngIf="user_signup.get('user_email').hasError('email')"> email is incorrect
      </label>
    </div>
    <div class="form-group">
      <input type="text" formControlName="user_mobile" class="form-control" placeholder="Enter Mobile Number">
      <label class="alert alert-danger"
        *ngIf="user_signup.get('user_mobile').hasError('required') &&  !user_signup.get('user_mobile').pristine"> phone
        is required
      </label>
    </div>
    <div formGroupName="password_group">
      <div class="form-group">
        <input type="password" formControlName="user_password" class="form-control" placeholder="Enter Password">
        <label class="alert alert-danger"
          *ngIf="user_signup.get('password_group').get('user_password').hasError('required')"> password is
          required
        </label>
      </div>
      <div class="form-group">
        <input type="password" formControlName="user_confirm_password" class="form-control"
          placeholder="Enter Confirm password">
      </div>
      <label class="alert alert-danger" *ngIf="user_signup.get('password_group').hasError('passwordError')"> sarkha
        nathi
      </label>
    </div>

    <div class="form-group">
      <select class="form-control" formControlName="user_city">

        <option value="-1">Select City</option>
        <option *ngFor="let item of cities" [value]="item">{{item}}</option>
      </select>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary" (click)="onAddHobbyClick()">Add Hobby</button>

      <div class="form-group" formArrayName="user_hobbies" *ngFor="let item of getHobbies();let i=index">
        <input class="form-control" [formControlName]="i">
        <button class="btn btn-danger" (click)="onDeleteHobbyClick(i)"> Delete</button>
      </div>
    </div>
    <input type="date">
    <!--  -->
    <button type="submit" [disabled]="!user_signup.valid" class="form-control btn btn-primary">Add User</button>
  </form>

</div>
